@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Slab:wght@100..900&display=swap');

body {
    font-size: 15px;
    font-family: "Quicksand", sans-serif;
    background-color: rgb(75, 74, 74);
    color: antiquewhite;
}